
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.input-group {
    display: flex;
    flex-direction: column;
    padding: 10px 0 ;
    max-width: 600px;
    margin: 0 auto;
}
.input-group_heading {
    margin: 0;
}
.input-group_container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: aliceblue;
}
.preview-group {
    background-color: aliceblue;
}
.btn {
    padding: 5px 10px;
}
.btn-delete {
    align-self: flex-end;
}
.btn-add {
    align-self: center;
    width: 100%;
}
.btn-toggle {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.input-group input,
.input-group textarea {
    font-size: 1rem;
    width: 100%;
    resize: none;
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 5px;
}


.preview {
    max-width: 600px;
    margin: 0 auto;
}
.preview-group {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.preview-group h3,
.preview-group p {
    margin: 0;
}